In [1]:
def my_function():
  print("within a function")

In [3]:
my_function()

within a function

In [4]:
def calculat_sum(a,b):
  return a+b

In [5]:
print(calculat_sum(4,5))

9

In [8]:
def calculat_sum_multiplication(a,b):
  return a+b, a*b

In [9]:
var_sum,var_mult = calculat_sum_multiplication(10,3)

In [10]:
print(var_sum)
print(var_mult)

13
30

In [11]:
my_var = lambda x : x +100

In [12]:
print(my_var(10))

110

In [13]:
my_var = lambda a,b : a+b

In [14]:
print(my_var(4,5))

9